<section class="mt-3">
    <div class="container">
        <h1>Detalle de mesas</h1>
    </div>
    <div class="row">
      <div class="col" *ngIf="mesa">
              <form [formGroup]="formularioUpdateMesa" class="formulario-section" (submit)="updateDetailMesa()">
                  <div class="form-group">
                      <label>Ubicación</label>
                      <input type="text"
                             class="form-control"
                             placeholder= {{mesa.Ubicacion}}
                             formControlName="Ubicacion">
                    </div>
                    <div class="form-group">
                        <label>Número de mesa</label>
                        <input type="text"
                               class="form-control"
                               placeholder= {{mesa.NumMesa}}
                               formControlName="NumMesa"
                               required>
                    </div>
                    <div class="form-group">
                      <label>Número de sitios</label>
                      <input type="text"
                             class="form-control"
                             placeholder= {{mesa.NumSitios}}
                             formControlName="NumSitios"
                             required>
                  </div>

                    <hr>
                    <div class="form-group text-center">
                      <button type="submit" (click)="updateDetailMesa()"
                              class="btn btn-info w-25">
                        <i class="fa fa-save"></i>
                        Guardar
                      </button>
                    </div>
              </form>
      </div>
</div>

</section>
