<div class="listaCamareros container animated fadeIn faster">
        <div class="cabeceraMesas mt-5">
            <h2>Listado de Camareros</h2>
            <hr>
          <div class="row">
            <div class="col text-right">
              <button routerLink="/privado/camareros/nuevoCamarero" class=" btn btn-info mb-4 mt-2"> <i class="fa fa-plus"></i> Camarero</button>
            </div>
          </div>

          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Login</th>
                <th scope="col">Nombre y apellidos</th>
                <!-- <th scope="col">Contraseña</th> -->
                <th scope="col">Tools</th>
              </tr>
            </thead>
            <div *ngFor="let camarero of listadoCamareros; let i = index">
              <app-camarero [camarero]="camarero"></app-camarero>
            </div>

          </table>
      </div>
      <!-- <div class="alert-warning text-center m-3 p-3">
        <h4 class="alert-heading">No hay registro</h4>
        <p>
          <i class="fa fa-exclamation fa-2x"></i>
        </p>
      </div>
      <div class="alert-info text-center m-3 p-3">
          <h4 class="alert-heading">Cargando</h4>
          <p>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
          </p>
          <p class="mb-0">
            Espere por favor
          </p>
        </div> -->
</div>
