.sidebar{
    width: 15%;
    height: 100vh;
    float: left;
    background:#34495D;
}
.sidebar ul {
  text-align: left;
}

.sidebar ul li {
    font-size: 1em;
}
.sidebar ul li a{
    text-decoration: none!important;
    transition: 0.2s ease;
    color: #fff!important;
    display: block;
    border-bottom: 1px solid #445c72;
    padding: 1em;
}

.sidebar ul li a i{
    padding-right: 10px;
}
.sidebar a:hover {
    background: #4ba59c;
}

@media only screen and (max-width: 992px) {
  .sr {
    display: none;
  }
    .sidebar ul {
    text-align: center;
    }


}

@media only screen and (min-width: 992px) {
  .salir{
    display: none;
  }

}