<section class="sidebar">
        <ul>
            <li>
                <a class="nav-link" [routerLink]="['/privado/mesas']"><i class="fa fa-list"> </i><span class="sr"> Mesas</span></a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/privado/camareros']"><i class="fa fa-users"></i><span class="sr"> Camareros</span></a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/privado/gerente']"><i class="fa fa-briefcase"></i> <span class="sr"> Gerente</span></a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/privado/productos']"><i class="fa fa-coffee"></i><span class="sr"> Productos</span></a>
            </li>
            <li class="salir">
                <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-power-off"></i><span class="sr"> Salir</span></a>
            </li>
        </ul>
</section>