<div class="example-container">
  <h2>Mesas Disponibles</h2>

  <div
    cdkDropList
    #disponibles="cdkDropList"
    [cdkDropListData]="mesasDisponibles"
    [cdkDropListConnectedTo]="[asignadas]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    [id]=0>
    <div class="example-box" *ngFor="let item of mesasDisponibles" cdkDrag>{{item.NumMesa}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Mesas Asignadas</h2>

  <div
    cdkDropList
    #asignadas="cdkDropList"
    [cdkDropListData]="mesasAsignadas"
    [cdkDropListConnectedTo]="[disponibles]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    [id]=1>
    <div class="example-box" *ngFor="let item of mesasAsignadas" cdkDrag>{{item.NumMesa}}</div>
  </div>
</div>
