<section class="listaCamareros container animated fadeIn faster">
        <div class="cabeceraMesas mt-5">
            <h2>Nueva Mesa</h2>
            <hr>
          <div class="row">
            <div class="col text-right">
              <button routerLink="/privado/mesas/" class=" btn btn-info mb-4 mt-2"> <i class="fa fa-arrow-left"></i> Volver a lista</button>
            </div>
          </div>
          <div class="row">
            <div class="col" *ngIf="mesa">
              <form [formGroup]="formularioCreateMesa" class="formulario-section" (submit)="createMesa()">
                  <div class="form-group">
                      <label>Ubicación</label>
                      <input type="text"
                             class="form-control"
                             placeholder= {{mesa.Ubicacion}}
                             formControlName="Ubicacion">
                    </div>
                    <div class="form-group">
                        <label>Número de mesa</label>
                        <input type="text"
                               class="form-control"
                               placeholder= {{mesa.NumMesa}}
                               formControlName="NumMesa"
                               required>
                    </div>
                    <div class="form-group">
                      <label>Número de sitios</label>
                      <input type="text"
                             class="form-control"
                             placeholder= {{mesa.NumSitios}}
                             formControlName="NumSitios"
                             required>
                  </div>

                    <hr>
                    <div class="form-group text-center">
                      <button type="submit"
                              class="btn btn-info w-25">
                        <i class="fa fa-save"></i>
                        Guardar
                      </button>
                    </div>
              </form>
      </div>
        </div>

      </div>
      </section>
