<section class="fondoLogin animated fadeIn faster">
  <div class="login animated bounceInLeft" >
          <div class="container text-center mb-5">
              <a class="navbar-brand" [routerLink]="['/privado/principal']"><img src="../../../assets/img/logo.png" width="200" alt=""></a>
          </div>
          <form [formGroup]="formularioUbicacion"  class="form" (ngSubmit)="submit(formularioUbicacion.value)">
              <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Elige local</label>
              <select formControlName="ubicacion">
                <option *ngFor="let u of listadoUbicaciones;let i = index" [value]= "u.id">{{u.descripcionCompleta}}</option>
              </select>

            <button class="btn btn-info">Acceder</button>
          </form>
  </div>
</section>
