.listaCategorias{
    width: 100%;
    background:#e9ecef;
}
.listaCategorias ul {
  text-align: left;
  text-decoration: none!important;
  list-style: none;
}

.listaCategorias ul li a{
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.2s ease;
    color: black!important;
    display: block;
    border-bottom: 1px solid #445c72;
    padding: 1em;
}

.listaCategorias a:hover {
    background: #d4d5d6;
}