<section class="listaMesas container animated fadeIn faster">
  <div class="cabeceraMesas mt-5">
      <h2>Categorías de productos</h2>
      <hr>
    <div class="listaCategorias">
      <ul>
        <li>
            <a class="nav-link" [routerLink]="['/privado/productos/detalleCategorias']">  Bebidas <span class="sr-only">(current)</span></a>
        </li>
        <li>
            <a class="nav-link" [routerLink]="['/privado/productos/detalleCategorias']">  Carnes <span class="sr-only">(current)</span></a>
        </li>
        <li>
            <a class="nav-link" [routerLink]="['/privado/productos/detalleCategorias']">  Pastas <span class="sr-only">(current)</span></a>
        </li>
        <li>
            <a class="nav-link" [routerLink]="['/privado/productos/detalleCategorias']">  Postres <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
</div>
</section>
