<section class="fondoLogin animated fadeIn faster">
    <div class="login animated bounceInLeft" >
            <div class="container text-center mb-5">
                <a class="navbar-brand" [routerLink]="['/privado/principal']"><img src="../../../assets/img/logo.png" width="200" alt=""></a>  
            </div>      
            <form [formGroup]="formularioLogin">
                <div class="form-group">
                    <label for="exampleInputEmail1">Usuario</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" 
                    placeholder="Usuario" formControlName="usuario">
                    <small id="emailHelp" class="form-text text-muted">Campo obligatorio</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" formControlName="password">
                </div>
                <button type="submit" class="btn btn-info" (click)="login(formularioLogin)">Iniciar sesión</button> 
            </form>
    </div>
</section>
