.fondoLogin {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center; 
	justify-content: center;
	font-family: "Exo", sans-serif;
	background:rgba(87, 110, 131, 0.6);
}

.login{
	width: 500px;
	height: 500px; 
	justify-content: center;
	align-items: center;
	padding: 60px;
	background-color: #fff;
	-webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.26);
	box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.26);
	border-radius: 19px 19px 19px 19px;
	-moz-border-radius: 19px 19px 19px 19px;
	-webkit-border-radius: 19px 19px 19px 19px;
	border: 0px solid #000000;
}

