<section class="container animated fadeIn faster">
  <div class="mt-5">
      <h2>Categoría</h2>
      <hr>
    
      <div cdkDropListGroup>
        <div class="example-container">

          <h4>Categoría</h4>

          <div
            cdkDropList
            [cdkDropListData]="mesasAsigandas"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of mesasAsigandas" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h4>Productos disponibles</h4>

          <div
            cdkDropList
            [cdkDropListData]="mesasDisponibles"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of mesasDisponibles" cdkDrag>{{item}}</div>
          </div>
        </div>
      </div>


</div>
</section>