<tbody>
  <tr>
    <th scope="row">{{camarero.Login}}</th>
    <td>{{camarero.Nombre | titlecase}} {{camarero.Apellidos | titlecase}}</td>

    <td>
      <button class="btn btn-info mr-1" (click)="verDetalleCamarero(camarero.Id)">
        <i class="fa fa-pencil">

        </i>
      </button>

      <button class="btn btn-danger" (click)="deleteCamarero(camarero.Id)">
        <i class="fa fa-trash"></i>
      </button>
      <button class="btn btn-success" (click)="abrirModal(camarero.Id)">
        <i class="fa fa-folder-open-o"></i>
      </button>
    </td>
  </tr>
</tbody>


