<section class="listaCamareros container animated fadeIn faster">
    <div class="cabeceraMesas mt-5">
            <h2>Nuevo Camarero</h2>
            <hr>
          <div class="row">
            <div class="col text-right">
              <button routerLink="/privado/camareros" class=" btn btn-info mb-4 mt-2"> <i class="fa fa-arrow-left"></i> Volver a lista</button>
            </div>
          </div>
          <div class="col">
            <form [formGroup]="formularioCreateCamarero" class="formulario-section" (submit)="CreateCamarero()">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text"
                           class="form-control"
                           placeholder= {{camarero.Nombre}}
                           formControlName="Nombre">
                  </div>
                  <div class="form-group">
                      <label>Apellidos</label>
                      <input type="text"
                             class="form-control"
                             placeholder= {{camarero.Apellidos}}
                             formControlName="Apellidos"
                             required>
                  </div>
                  <div class="form-group">
                    <label>Login</label>
                    <input type="text"
                           class="form-control"
                           placeholder= {{camarero.Login}}
                           formControlName="Login"
                           required>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="text"
                         class="form-control"
                         placeholder= {{camarero.Password}}
                         formControlName="Password"
                         required>
              </div>

                  <hr>
                  <div class="form-group text-center">
                    <button type="submit"
                            class="btn btn-info w-25">
                      <i class="fa fa-save"></i>
                      Guardar
                    </button>
                  </div>
            </form>
    </div>

  </div>
</section>
