.navbar{
    -webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.26);
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.26);
}



@media only screen and (max-width: 992px) {

  .logo-pay{
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  .logo-pay2{
    display: none;
  }

}

