<!-- <nav class="navbar navbar-light bg-light ">
    <a [routerLink]="['/privado/principal']"><h3>Pay Food Now</h3></a>
    <div class="container">
        <ul class="list-unstyled components">
                    <li >
                        <a [routerLink]="['/privado/mesas']">Mesas</a>
                    </li>
                    <li>
                        <a [routerLink]="['/privado/camareros']">Camareros</a>
                    </li>
                    <li>
                        <a [routerLink]="['/privado/gerente']">Gerente</a>
                    </li>
                </ul>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Salir</button>
    </div>

</nav> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo-pay container">
        <a class="navbar-brand" [routerLink]="['/privado/principal']"><img src="../../../assets/img/logo.png" width="150" alt=""></a>
    </div>
    <div class=" logo-pay2 container">
            <a class="logo-empresa" [routerLink]="['/privado/principal']"><img src="../../../assets/img/logo-cafe-te.png" width="80" alt=""></a>
            <button class="btn btn-outline-success my-2 my-sm-0"  type="submit" (click)="salir()">Salir</button>  
    </div>
</nav>
