<section class="principal">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Pay food Now</h1>
      <p class="lead">Bienvenido al Panel de administración</p>
    </div>
  </div>
  <div class="container">
        <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Nueva Mesa</h5>
                      <p class="card-text">Acceso directo nueva mesa</p>
                      <a [routerLink]="['/privado/mesas/nuevaMesa']" class="btn btn-info">Crear</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Nuevo Camarero</h5>
                      <p class="card-text">Acceso directo nuevo Camarero</p>
                      <a [routerLink]="['/privado/camareros/nuevoCamarero']" class="btn btn-info">Crear</a>
                    </div>
                  </div>
                </div>
              </div>
  </div>
</section>

<!-- <button [routerLink]="['/privado/mesas']" >Mesas</button>
<button [routerLink]="['/privado/camareros']" >Camareros</button> -->