<section class="listaCamareros container animated fadeIn faster">
    <div class="cabeceraMesas mt-5">
            <h2>Actualizar datos</h2>
            <hr>
          <div class="row">
            <div class="col text-right">
              <button routerLink="/privado/principal" class=" btn btn-info mb-4 mt-2"> <i class="fa fa-arrow-left"></i> Inicio</button>
            </div>
          </div>
          <div class="row">
                <div class="col">
                        <form>
                              <div class="form-group">
                                  <label>Usuario</label>
                                  <input type="text"
                                         class="form-control"
                                         name="user"
                                         placeholder="Usuario de acceso">
                              </div>

                              <div class="form-group">
                                  <label>Contraseña</label>
                                  <input type="text"
                                         class="form-control"
                                         name="pass"
                                         placeholder="Contraseña de acceso">
                              </div>
                              <hr>
                              <div class="form-group text-center">
                                <button type="submit"
                                        class="btn btn-info w-25">
                                  <i class="fa fa-save"></i>
                                  Guardar
                                </button>
                              </div>
                        </form>
                </div>
          </div>
  </div>
</section>
  