
 @import '../node_modules/animate.css/animate.min.css';
 @import '../node_modules/font-awesome/css/font-awesome.min.css';

 ol, ul {
	list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.btn .btn-primary {
    background: #4ba59c;
}