<section class="listaMesas container animated fadeIn faster">
  <div class="cabeceraMesas mt-5">
      <h2>Listado de mesas</h2>
      <hr>
    <div class="row">
      <div class="col text-right">
        <button routerLink="/privado/mesas/nuevaMesa" class=" btn btn-info mb-4 mt-2"> <i class="fa fa-plus"></i> Mesa</button>
      </div>
    </div>
    <table class="table" >
      <thead class="thead-light">
        <tr>
          <th scope="col">Ubicacion</th>
          <th scope="col">Numero Mesa</th>
          <th scope="col">Numero de sitios</th>
          <th scope="col">Estado</th>
        </tr>
    </thead>
    <div *ngFor="let mesa of listadoMesas; index as i">
       <app-mesa [mesa]="mesa"></app-mesa>
    </div>
    </table>
</div>
<div class="alert-warning text-center m-3 p-3">
    <h4 class="alert-heading">No hay registro</h4>
    <p>
      <i class="fa fa-exclamation fa-2x"></i>
    </p>
  </div>
  <div class="alert-info text-center m-3 p-3">
      <h4 class="alert-heading">Cargando</h4>
      <p>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor
      </p>
</div>
</section>
