<section class="section-mesa">

  <tbody class="section-mesa-body">
    <tr>
      <th scope="row">{{ mesa.Ubicacion }}</th>
      <td>{{ mesa.NumMesa }}</td>
      <td>{{ mesa.NumSitios }}</td>
      <td>{{ mesa.DesMesaEstado }}</td>
      <td>
        <button class="btn btn-info mr-1" (click)="irDetalleMesa(mesa.Id)">
          <i class="fa fa-pencil">
          </i>
        </button>
        <button class="btn btn-danger" (click)="deleteMesa()">
          <i class="fa fa-trash"></i>
        </button>
        <button *ngIf="mesa.IdMesaEstado != IdMesaEstado" (click)="liberateMesa(mesa.Id)">
          Liberar Mesa
        </button>
      </td>
    </tr>
  </tbody>



</section>



