<section class="mt-3">
  <div class="container">
      <h1>Detalle de camarero</h1>
  </div>
  <div class="row">
    <div class="col" *ngIf="camarero">
            <form [formGroup]="formularioUpdateCamarero" class="formulario-section" (submit)="updateDetailCamarero()">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text"
                           class="form-control"
                           placeholder= 'Nombre'
                           formControlName="Nombre">
                  </div>
                  <div class="form-group">
                      <label>Apellidos</label>
                      <input type="text"
                             class="form-control"
                             placeholder= 'Apellidos'
                             formControlName="Apellidos"
                             required>
                  </div>
                  <div class="form-group">
                    <label>Login</label>
                    <input type="text"
                           class="form-control"
                           placeholder= 'Login'
                           formControlName="Login"
                           required>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="text"
                         class="form-control"
                         placeholder= 'Password'
                         formControlName="Password"
                         required>
              </div>

                  <hr>
                  <div class="form-group text-center">
                    <button type="submit"
                            class="btn btn-info w-25">
                      <i class="fa fa-save"></i>
                      Guardar
                    </button>
                  </div>
            </form>
    </div>
</div>

</section>
